{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<h1>Posts</h1>

    {% for post in post_list %}

<div class="cards">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-title text-dark">Post #: {{ post.id }}</h6>
            <h5 class="card-title text-dark">Title: {{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-dark">Author: {{ post.Author }}</h6>
            <p>{{post.body|truncatechars:50}}</p>
            <p>{{ post.created_on }}</p>
            <a href="{% url 'post_detail' post.id %} " class="card-link text-dark">Read More</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}