.about{
    text-align: center;
    background-color: #ff0000;
    padding: 20px;
}
.about-content{
    color: white;
    text-align: center;
    opacity: 0;
    display: block;
    margin: 5px;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.about-content:hover{
    opacity: 1;
}
