body{
    color: white;
}
h1{
    text-align: center;
}
.cards{
    justify-content: center;
    display: inline-flex;
    margin: 40px 20px 20px 40px;
    transition: transform .5s;
    color: white;
}
.cards:hover{
    transform: scale(1.05);
}
.card{
    background-image: url('../img/gamepaper.png');
}
.card-body{
    background-color: rgba(0, 0, 0, 0.63);
}

